{
  "openapi": "3.1.0",
  "info": {
    "title": "WhatsApp Cloud API",
    "version": "1.0.0",
    "description": "[WhatsApp Cloud API](https://developers.facebook.com/docs/whatsapp/cloud-api), hosted by Meta, is the official WhatsApp Business Platform API used for business messaging. This collection contains common queries, sample responses, and links to supporting documentation that can help you quickly get started with the API.\n\n## **Cloud API Overview**\n\nCloud API allows medium and large businesses to communicate with customers at scale. Using the API, businesses can build systems that connect thousands of customers with agents or bots, enabling both programmatic and manual communication. Additionally, businesses can integrate the API with numerous backend systems, such as CRM and marketing platforms.\n\n[https://developers.facebook.com/docs/whatsapp/cloud-api/overview](https://developers.facebook.com/docs/whatsapp/cloud-api/overview)\n\n## Getting Started with Cloud API\n\nTo use the API and this collection you must have a Meta business portfolio, a WhatsApp Business Account, and a business phone number. If you complete the steps in the Cloud API [Get Started](https://developers.facebook.com/docs/whatsapp/cloud-api/get-started) guide, these assets will be created for you.\n\n## Get Started as a Solution Partner\n\n[This guide](https://developers.facebook.com/docs/whatsapp/solution-providers/get-started-for-solution-partners) goes over the steps Solution Partners need to take in order to offer the Cloud API to their customers.\n\n## Migrating from On-Premises API to Cloud API\n\n[This guide explains how to migrate](https://developers.facebook.com/docs/whatsapp/cloud-api/guides/migrating-from-onprem-to-cloud) business phone numbers from On-Premises API to Cloud API.\n\n## Environment\n\nThis collection has a corresponding WhatsApp Cloud API Postman [environment](https://learning.postman.com/docs/sending-requests/managing-environments/) which you must select when using the collection. Set **current values** for the variables defined in this environment if you wish to use the collection to perform queries.\n\nYou can find most of these values in the [WhatsApp Manager](https://business.facebook.com/wa/manage/home/) or the **WhatsApp** > **Getting Started** panel in the [app dashboard](https://developers.facebook.com/apps). However, if you have an access token and your business portfolio ID, you can use queries in the collection to get the remaining values.\n\n## Access tokens\n\nThe API supports both user and system user access tokens. You can get a user access token by loading your app in the [app dashboard](https://developers.facebook.com/apps) and navigating to the WhatsApp > Getting Started panel. Alternatively you can use the [Graph API Explorer](https://developers.facebook.com/tools/explorer/) to generate one.\n\nSince user access tokens expire after 24 hours, you'll likely want to generate a system user access token, which lasts up to 60 days (or permanently, if you wish). See [Access Tokens](https://developers.facebook.com/docs/whatsapp/business-management-api/get-started#access-tokens) to learn how to create a system user and system user access token.\n\nOnce you have your token, save it as a **current value** in the environment.\n\n## Business portfolio ID\n\nYou can get your business portfolio ID by signing into the [Meta Business Suite](https://business.facebook.com). The ID appears in the URL as the `business_id` query string parameter value. Once you save this as a **current value** in the environment, go to the WhatsApp Business Account (WABA) folder and run the **Get all owned WABAs** query. This will return your WABA ID, which you can save to your environment and then use to determine your business phone number ID.\n\n## Permissions\n\nThe API only relies on two permissions:\n\n- whatsapp_business_management\n    \n- whatsapp_business_messaging\n    \n\nNote that if you get a user access token from the app dashboard, your app will automatically be granted these permissions (by you, on your behalf), so you can use the token to test right away.\n\nQueries that target your business portfolio require the business_management permission, which you may also need based on your business use case. Most developers do not need this permission, however, as accessing your business portfolio is uncommon, and the Meta Business Suite provides nearly all of this functionality anyway.\n\n## Access token debugger\n\nYou can paste any token you generate into the [access token debugger](https://developers.facebook.com/tools/debug/accesstoken/) to see what type of token it is and what permission you have granted to your app.\n\n## Pagination\n\nEndpoints that return lists/collections may [paginate results](https://developers.facebook.com/docs/graph-api/results) (you'll see previous and next properties in the response). Use the URLs from these properties to get the previous or next set of results. Note that if you click one of these links in Postman, it will open a new query in a new tab which you must save before running (otherwise it can't read your environment variables), so you may wish to cut and paste the URL and run the query in the same tab in which it was returned."
  },
  "servers": [
    {
      "url": "https://graph.facebook.com"
    }
  ],
  "paths": {
    "/{Version}/{WABA-ID}/subscribed_apps": {
      "post": {
        "tags": [
          "Webhook Subscriptions"
        ],
        "summary": "Override Callback URL",
        "description": "If you want to subscribe to Webhooks for multiple WhatsApp Business Accounts but want messages field Webhooks notifications to be sent to different callback URLs for each WABA, you can override the callback URL when subscribing to Webhooks for each WABA.\n\nTo do this, first verify that the alternate Webhook endpoint can receive and process Webhooks notifications. Then, subscribe to Webhooks for the WABA as your normally would, but include the alternate endpoint's callback URL along with its verification token as a JSON payload:\n\n\nFor more information, see [Overriding the Callback URL](https://developers.facebook.com/docs/whatsapp/embedded-signup/webhooks#overriding-the-callback-url).",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "application/json"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "default": {
                    "data": [
                      {
                        "override_callback_uri": "https://alternate-endpoint-callback.com/webhook",
                        "whatsapp_business_api_data": {
                          "id": "670843887433847",
                          "link": "https://www.facebook.com/games/?app_id=67084...",
                          "name": "Jaspers Market"
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "WABA-ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "example": "Bearer {{User-Access-Token}}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "override_callback_uri": "<ALTERNATE_WEBHOOK_ENDPOINT_URL>",
                  "verify_token": "<ALTERNATE_WEBOOK_ENDPOINT_VERIFICATION_TOKEN>"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Webhook Subscriptions"
        ],
        "summary": "Get All Subscriptions for a WABA",
        "description": "To get a list of apps subscribed to Webhooks for a WABA, send a **GET** request to the **`subscribed_apps`** endpoint on the WABA:",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "application/json"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "default": {
                    "data": [
                      {
                        "whatsapp_business_api_data": {
                          "link": "<APP1_LINK>",
                          "name": "<APP1_NAME>",
                          "id": "7234002551525653"
                        }
                      },
                      {
                        "whatsapp_business_api_data": {
                          "link": "<APP2_LINK>",
                          "name": "<APP2_LINK>",
                          "id": "3736565603394103"
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "WABA-ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "example": "Bearer {{User-Access-Token}}",
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "delete": {
        "tags": [
          "Webhook Subscriptions"
        ],
        "summary": "Unsubscribe from a WABA",
        "description": "To unsubscribe your app from webhooks for a WhatsApp Business Account, send a **DELETE** request to the `/subscribed_apps/` endpoint on the WABA.",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "application/json"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "default": {
                    "success": true
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "WABA-ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "example": "Bearer {{User-Access-Token}}",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/{Version}/{WABA-ID}/phone_numbers": {
      "get": {
        "tags": [
          "Phone Numbers"
        ],
        "summary": "Get Phone Numbers with Filtering (beta)",
        "description": "- Guide: [Filter Phone Numbers](https://developers.facebook.com/docs/whatsapp/business-management-api/manage-phone-numbers#filter-phone-numbers)\n- Endpoint reference: [WhatsApp Business Account > Phone Numbers](https://developers.facebook.com/docs/graph-api/reference/whats-app-business-account/phone_numbers/)",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "example": "id,is_official_business_account,display_phone_number,verified_name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filtering",
            "in": "query",
            "example": "[{'field':'account_mode','operator':'EQUAL','value':'SANDBOX'}]",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "WABA-ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/{Version}/{Phone-Number-ID}/register": {
      "post": {
        "tags": [
          "OnPrem Account Migration"
        ],
        "summary": "Migrate Account",
        "description": "To migrate your account, make a **POST** call to the **`/{{Phone-Number-ID}}/register`** endpoint and include the parameters listed below. \n\nYour request may take as long as 15 seconds to finish. During this period, your on-premise deployment is automatically disconnected from WhatsApp server and shutdown; the business account will start up in the cloud-hosted service at the same time. After the request finishes successfully, you can send messages immediately.",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "application/json"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "default": {
                    "success": "true"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Phone-Number-ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "example": "application/json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "messaging_product": "whatsapp",
                  "pin": "6-digit-pin",
                  "backup": {
                    "data": "backup_data",
                    "password": "password"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{Version}/{Phone-Number-ID}/messages": {
      "post": {
        "tags": [
          "Examples"
        ],
        "summary": "Send Sample Issue Resolution Template",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "application/json"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "default": {
                    "rawContent": ""
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "messaging_product": "whatsapp",
                  "to": "{{Recipient-Phone-Number}}",
                  "type": "template",
                  "template": {
                    "name": "sample_issue_resolution",
                    "language": {
                      "code": "en_US",
                      "policy": "deterministic"
                    },
                    "components": [
                      {
                        "type": "body",
                        "parameters": [
                          {
                            "type": "text",
                            "text": "*Mr. Jones*"
                          }
                        ]
                      },
                      {
                        "type": "button",
                        "sub_type": "quick_reply",
                        "index": 0,
                        "parameters": [
                          {
                            "type": "text",
                            "text": "Yes"
                          }
                        ]
                      },
                      {
                        "type": "button",
                        "sub_type": "quick_reply",
                        "index": 1,
                        "parameters": [
                          {
                            "type": "text",
                            "text": "No"
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Messages"
        ],
        "summary": "Mark Message As Read",
        "description": "When you receive an incoming message from Webhooks, you could use messages endpoint to change the status of it to read.  \nWe recommend marking incoming messages as read within 30 days of receipt.  \n**Note**: you cannot mark outgoing messages you sent as read.\n\nYou need to obtain the **`message_id`** of the incoming message from Webhooks.\n\nFor a more in depth guide for marking messages as read, see [Guide: Mark Messages as Read](https://developers.facebook.com/docs/whatsapp/cloud-api/guides/mark-message-as-read).",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "application/json"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "default": {
                    "success": true
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Phone-Number-ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "example": "application/json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "messaging_product": "whatsapp",
                  "status": "read",
                  "message_id": "<INCOMING_MSG_ID>"
                }
              }
            }
          }
        }
      }
    },
    "/{Version}/debug_token": {
      "get": {
        "tags": [
          "Get Started"
        ],
        "summary": "Debug Access Token"
      }
    },
    "/{Version}/{WABA-ID}": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Get conversation analytics",
        "description": "- Guide: [Analytics](https://developers.facebook.com/docs/whatsapp/business-management-api/analytics)\n- Endpoint reference: [WhatsApp Business Account > Analytics](https://developers.facebook.com/docs/graph-api/reference/waba-analytics/)",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "application/json"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "default": {
                    "analytics": {
                      "phone_numbers": [
                        "16505550111",
                        "16505550112",
                        "16505550113"
                      ],
                      "country_codes": [
                        "US",
                        "BR"
                      ],
                      "granularity": "DAY",
                      "data_points": [
                        {
                          "start": 1543543200,
                          "end": 1543629600,
                          "sent": 196093,
                          "delivered": 179715
                        },
                        {
                          "start": 1543629600,
                          "end": 1543716000,
                          "sent": 147649,
                          "delivered": 139032
                        },
                        {
                          "start": 1543716000,
                          "end": 1543802400,
                          "sent": 61988,
                          "delivered": 58830
                        },
                        {
                          "start": 1543802400,
                          "end": 1543888800,
                          "sent": 132465,
                          "delivered": 124392
                        },
                        {
                          "start": 1543888800,
                          "end": 1543975200,
                          "sent": 181002,
                          "delivered": 167335
                        },
                        {
                          "start": 1543975200,
                          "end": 1544061600,
                          "sent": 168687,
                          "delivered": 157838
                        },
                        {
                          "start": 1544061600,
                          "end": 1544148000,
                          "sent": 161832,
                          "delivered": 152383
                        }
                      ]
                    },
                    "id": "952305634918047"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "example": "conversation_analytics.start(1656661480).end(1674859480).granularity(MONTHLY).conversation_directions([\"business_initiated\"]).dimensions([\"conversation_type\", \"conversation_direction\"])",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "WABA-ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/{Version}/{Business-ID}/owned_whatsapp_business_accounts": {
      "get": {
        "tags": [
          "WhatsApp Business Accounts (WABAs)"
        ],
        "summary": "Get owned WABAs",
        "description": "Endpoint reference: [Business > Extended Credits](https://developers.facebook.com/docs/marketing-api/reference/business/extendedcredits/)",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "br"
                  ]
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "\"366ab827015bbd04e3737a8e0e33b755ebdb1190\""
                  ]
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "application/json; charset=UTF-8"
                  ]
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "Accept-Encoding"
                  ]
                }
              },
              "x-business-use-case-usage": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "{\"102290129340398\":[{\"type\":\"whatsapp_business_management\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}],\"104996122399160\":[{\"type\":\"whatsapp_business_management\",\"call_count\":0,\"total_cputime\":0,\"total_time\":0,\"estimated_time_to_regain_access\":0}]}"
                  ]
                }
              },
              "x-fb-rlafr": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "0"
                  ]
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "*"
                  ]
                }
              },
              "facebook-api-version": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "v16.0"
                  ]
                }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "max-age=15552000; preload"
                  ]
                }
              },
              "Pragma": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "no-cache"
                  ]
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "private, no-cache, no-store, must-revalidate"
                  ]
                }
              },
              "Expires": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "Sat, 01 Jan 2000 00:00:00 GMT"
                  ]
                }
              },
              "x-fb-request-id": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "Ah4MqTo1ZUzj81zkb2XbBje"
                  ]
                }
              },
              "x-fb-trace-id": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "EjCBhZpFH17"
                  ]
                }
              },
              "x-fb-rev": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "1007269544"
                  ]
                }
              },
              "X-FB-Debug": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "VZi3ZGTNb0Rd+lKKWI0HEaur9OTNIBff6mO7rsXN/IeCzQa8AcsdK0ef8XPzSYrHjrpTulugwFludywozAfNOQ=="
                  ]
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "Sat, 08 Apr 2023 01:06:45 GMT"
                  ]
                }
              },
              "Alt-Svc": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "h3=\":443\"; ma=86400"
                  ]
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "keep-alive"
                  ]
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "422"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "default": {
                    "data": [
                      {
                        "id": "104996122399160",
                        "name": "Lucky Shrub",
                        "timezone_id": "1",
                        "message_template_namespace": "58e6d318_b627_4112_b9c7_2961197553ea"
                      },
                      {
                        "id": "102290129340398",
                        "name": "Test WhatsApp Business Account",
                        "timezone_id": "1",
                        "message_template_namespace": "ba30dd89_2ebd_41e4_b805_f2c05ae04cc9"
                      }
                    ],
                    "paging": {
                      "cursors": {
                        "before": "QVFIUnpPVXRnY3BPN19rTVItOG51T291YURjV3BaeXRXU29adDVreS04ekhSNl9YWTlfdmN3SHlyTEk1a2FRdnlWanBqM1FuQm1uZAHhfYl9UMTNCYjM3MWV3",
                        "after": "QVFIUjBrRUs5QVJuUDhDSmZARMlc2dXRYNXBmMjMtRUt3SmFlbk9PRk43azdiN1VQaW1HcnRkejFzZATNoNDdTdGVWMDhjamVvY25HWnI4WjIzX0hYSk40NHhB"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Business-ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/{Version}/{Business-ID}/client_whatsapp_business_accounts": {
      "get": {
        "tags": [
          "WhatsApp Business Accounts (WABAs)"
        ],
        "summary": "Get shared WABAs",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "application/json"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "default": {
                    "data": [
                      {
                        "id": 1906385232743451,
                        "name": "My WhatsApp Business Account",
                        "currency": "USD",
                        "timezone_id": "1",
                        "message_template_namespace": "abcdefghijk_12lmnop"
                      },
                      {
                        "id": 1972385232742141,
                        "name": "My Regional Account",
                        "currency": "INR",
                        "timezone_id": "5",
                        "message_template_namespace": "12abcdefghijk_34lmnop"
                      }
                    ],
                    "paging": {
                      "cursors": {
                        "before": "abcdefghij",
                        "after": "klmnopqr"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{Version}/{Phone-Number-ID}/deregister": {
      "post": {
        "tags": [
          "Registration"
        ],
        "summary": "Deregister Phone",
        "description": "To deregister your phone, make a **POST** call to **`{{Phone-Number-ID}}/deregister`**. **Deregister Phone** removes a previously registered phone. You can always re-register your phone using by repeating the registration process.\n\n#### Response\n\nA successful response returns:\n\n``` json\n{\n    \"success\": true\n}\n\n```",
        "responses": {
          "default": {
            "description": "Successful response",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "application/json"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "default": {
                    "success": true
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Phone-Number-ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "example": "application/json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "text/plain": {
              "schema": {
                "type": "string",
                "examples": [
                  ""
                ]
              }
            }
          }
        }
      }
    },
    "/{Version}/{Phone-Number-ID}": {
      "get": {
        "tags": [
          "Phone Numbers"
        ],
        "summary": "Get Display Name Status (Beta)",
        "description": "Include **`fields=name_status`** as a query string parameter to get the status of a display name associated with a specific phone number. This field is currently in beta and not available to all developers.",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "application/json"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "default": {
                    "id": "105954558954427",
                    "name_status": "AVAILABLE_WITHOUT_REVIEW"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "The status of a display name associated with a specific phone number. The **`name_status`** value can be one of the following:\n\n* `APPROVED`: The name has been approved. You can download your certificate now.\n* `AVAILABLE_WITHOUT_REVIEW`: The certificate for the phone is available and display name is ready to use without review.\n* `DECLINED`: The name has not been approved. You cannot download your certificate.\n* `EXPIRED`: Your certificate has expired and can no longer be downloaded.\n* `PENDING_REVIEW`: Your name request is under review. You cannot download your certificate.\nNONE: No certificate is available.",
            "example": "name_status",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Phone-Number-ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "tags": [
          "Phone Numbers"
        ],
        "summary": "Set Two-Step Verification Code",
        "description": "You can use this endpoint to change two-step verification code associated with your account. \nAfter you change the verification code, future requests like changing the name, must use the new code. \n\n**You set up two-factor verification and [register a phone number](https://developers.facebook.com/docs/whatsapp/cloud-api/reference/registration#register-phone) in the same API call.**\n\nYou must use the parameters listed below to change two-step verification",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "application/json"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "default": {
                    "success": true
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Phone-Number-ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "example": "application/json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "pin": "<6-digit-pin>"
                }
              }
            }
          }
        }
      }
    },
    "/{Version}/{Phone-Number-ID}/request_code": {
      "post": {
        "tags": [
          "Phone Numbers"
        ],
        "summary": "Request Verification Code",
        "description": "You need to verify the phone number you want to use to send messages to your customers. Phone numbers must be verified through SMS/voice call. The verification process can be done through the Graph API calls specified below.\n    \n\nTo verify a phone number using Graph API, make a **POST** request to **`{{PHONE_NUMBER_ID}}/request_code`**. In your call, include your chosen verification method and locale. You need to authenticate yourself using **{{User-Access-Token}}** (This is automatically done for you in the **`Request Verification Code`** request).\n#### Response\n\nAfter a successful call to **`Request Verification Code`**, you will receive your verification code via the method you selected in **`code_method`**. To finish the verification process, you need to use the [**`Verify Code`**](https://developers.facebook.com/docs/whatsapp/cloud-api/reference/phone-numbers#verify) request.",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "application/json"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "default": {
                    "success": true
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Phone-Number-ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "example": "application/json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "example": "Bearer {{User-Access-Token}}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "code_method": "SMS",
                  "locale": "en_US"
                }
              }
            }
          }
        }
      }
    },
    "/{Version}/{Phone-Number-ID}/verify_code": {
      "post": {
        "tags": [
          "Phone Numbers"
        ],
        "summary": "Verify Code",
        "description": "After you received a SMS or Voice request code from [**`Request Verification Code`**](https://developers.facebook.com/docs/whatsapp/cloud-api/reference/phone-numbers#verify), you need to verify the code that was sent to you. To verify this code, make a **POST** request to **`{{PHONE_NUMBER_ID}}/verify_code`** that includes the code as a parameter.",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "application/json"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "default": {
                    "success": true
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Phone-Number-ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "example": "application/json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "example": "Bearer {{User-Access-Token}}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "code": "<your-requested-code>"
                }
              }
            }
          }
        }
      }
    },
    "/": {
      "view": {
        "tags": [
          "Webhook Subscriptions > Webhook Payload Reference"
        ],
        "summary": "Status: Transaction Status - Order Details Message",
        "description": "The following notification is received when a business sends a message which opens a service [conversation](https://developers.facebook.com/docs/whatsapp/pricing#conversations):"
      }
    },
    "/{Version}/<TEMPLATE_ID>": {
      "get": {
        "tags": [
          "Templates"
        ],
        "summary": "Get template by ID (default fields)",
        "description": "- Guide: [Message Templates](https://developers.facebook.com/docs/whatsapp/business-management-api/message-templates)\n- Guide: [How To Monitor Quality Signals](https://developers.facebook.com/docs/whatsapp/guides/how-to-monitor-quality-signals)\n- Endpoint reference: [WhatsApp Message Template](https://developers.facebook.com/docs/graph-api/reference/whats-app-business-hsm/)",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "br"
                  ]
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "\"e5d8c11dc8393ffe82fb32bea775f609f0efcc87\""
                  ]
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "application/json; charset=UTF-8"
                  ]
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "Accept-Encoding"
                  ]
                }
              },
              "x-business-use-case-usage": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "{\"102290129340398\":[{\"type\":\"whatsapp_business_management\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}"
                  ]
                }
              },
              "x-fb-rlafr": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "0"
                  ]
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "*"
                  ]
                }
              },
              "facebook-api-version": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "v16.0"
                  ]
                }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "max-age=15552000; preload"
                  ]
                }
              },
              "Pragma": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "no-cache"
                  ]
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "private, no-cache, no-store, must-revalidate"
                  ]
                }
              },
              "Expires": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "Sat, 01 Jan 2000 00:00:00 GMT"
                  ]
                }
              },
              "x-fb-request-id": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "AQShOun0F8Erf0hMbGBGLmQ"
                  ]
                }
              },
              "x-fb-trace-id": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "Hvd7hnyFd49"
                  ]
                }
              },
              "x-fb-rev": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "1007251231"
                  ]
                }
              },
              "X-FB-Debug": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "svLARzFgDoUSQya1fv6vGYZoY4BkzPQToXrpR3W6k/OOk8NYFcZVvLhceUdli74kBn9gG8AobKUZdAljEF4NFw=="
                  ]
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "Wed, 05 Apr 2023 18:49:23 GMT"
                  ]
                }
              },
              "Alt-Svc": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "h3=\":443\"; ma=86400"
                  ]
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "keep-alive"
                  ]
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "362"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "default": {
                    "name": "2023_april_promo",
                    "components": [
                      {
                        "type": "HEADER",
                        "format": "TEXT",
                        "text": "Fall Sale"
                      },
                      {
                        "type": "BODY",
                        "text": "Hi {{1}}, our Fall Sale is on! Use promo code {{2}} Get an extra 25% off every order above $350!",
                        "example": {
                          "body_text": [
                            [
                              "Mark",
                              "FALL25"
                            ]
                          ]
                        }
                      },
                      {
                        "type": "FOOTER",
                        "text": "Not interested in any of our sales? Tap Stop Promotions"
                      },
                      {
                        "type": "BUTTONS",
                        "buttons": [
                          {
                            "type": "QUICK_REPLY",
                            "text": "Stop promotions"
                          }
                        ]
                      }
                    ],
                    "language": "en_US",
                    "status": "APPROVED",
                    "category": "MARKETING",
                    "id": "920070352646140"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "tags": [
          "Templates"
        ],
        "summary": "Edit template",
        "description": "- Guide: [Message Templates](https://developers.facebook.com/docs/whatsapp/business-management-api/message-templates)\n- Guide: [How To Monitor Quality Signals](https://developers.facebook.com/docs/whatsapp/guides/how-to-monitor-quality-signals)\n- Endpoint reference: [WhatsApp Message Template](https://developers.facebook.com/docs/graph-api/reference/whats-app-business-hsm/)",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "application/json; charset=UTF-8"
                  ]
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "Origin"
                  ]
                }
              },
              "x-business-use-case-usage": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "{\"634974688087057\":[{\"type\":\"whatsapp_business_management\",\"call_count\":0,\"total_cputime\":0,\"total_time\":0,\"estimated_time_to_regain_access\":0}]}"
                  ]
                }
              },
              "x-fb-rlafr": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "0"
                  ]
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "*"
                  ]
                }
              },
              "facebook-api-version": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "v16.0"
                  ]
                }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "max-age=15552000; preload"
                  ]
                }
              },
              "Pragma": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "no-cache"
                  ]
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "private, no-cache, no-store, must-revalidate"
                  ]
                }
              },
              "Expires": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "Sat, 01 Jan 2000 00:00:00 GMT"
                  ]
                }
              },
              "x-fb-request-id": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "AxL3yVE-rzEh1hPOKywIZDW"
                  ]
                }
              },
              "x-fb-trace-id": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "BfPPcrAeZzp"
                  ]
                }
              },
              "x-fb-rev": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "1007268877"
                  ]
                }
              },
              "X-FB-Debug": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "zbNYNbDIkRVjsYZD3iU+7DGcNYKDv3s4901qpUuDTKGBq20h5dU5YjKCRIlIc2+Mzs/ZqnnGk0U68tK3eYVjvA=="
                  ]
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "Fri, 07 Apr 2023 19:32:22 GMT"
                  ]
                }
              },
              "Alt-Svc": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "h3=\":443\"; ma=86400"
                  ]
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "keep-alive"
                  ]
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "16"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "default": {
                    "success": true
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "name": "2023_april_promo",
                  "components": [
                    {
                      "type": "HEADER",
                      "format": "TEXT",
                      "text": "Fall Sale"
                    },
                    {
                      "type": "BODY",
                      "text": "Hi {{1}}, our Fall Sale is on! Use promo code {{2}} Get an extra 25% off every order above $350!",
                      "example": {
                        "body_text": [
                          [
                            "Mark",
                            "FALL25"
                          ]
                        ]
                      }
                    },
                    {
                      "type": "FOOTER",
                      "text": "Not interested in any of our sales? Tap Stop Promotions"
                    },
                    {
                      "type": "BUTTONS",
                      "buttons": [
                        {
                          "type": "QUICK_REPLY",
                          "text": "Stop promotions"
                        }
                      ]
                    }
                  ],
                  "language": "en_US",
                  "category": "MARKETING"
                }
              }
            }
          }
        }
      }
    },
    "/{Version}/{WABA-ID}/message_templates": {
      "get": {
        "tags": [
          "Templates"
        ],
        "summary": "Get all templates (default fields)",
        "description": "- Guide: [Message Templates](https://developers.facebook.com/docs/whatsapp/business-management-api/message-templates)\n- Guide: [How To Monitor Quality Signals](https://developers.facebook.com/docs/whatsapp/guides/how-to-monitor-quality-signals)\n- Endpoint reference: [WhatsApp Business Account > Message Templates](https://developers.facebook.com/docs/graph-api/reference/whats-app-business-account/message_templates/)",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "br"
                  ]
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "\"51f958583abc438d2081f013d228356c7be9b9cb\""
                  ]
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "application/json; charset=UTF-8"
                  ]
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "Accept-Encoding"
                  ]
                }
              },
              "x-business-use-case-usage": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "{\"102290129340398\":[{\"type\":\"whatsapp_business_management\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}"
                  ]
                }
              },
              "x-fb-rlafr": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "0"
                  ]
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "*"
                  ]
                }
              },
              "facebook-api-version": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "v16.0"
                  ]
                }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "max-age=15552000; preload"
                  ]
                }
              },
              "Pragma": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "no-cache"
                  ]
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "private, no-cache, no-store, must-revalidate"
                  ]
                }
              },
              "Expires": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "Sat, 01 Jan 2000 00:00:00 GMT"
                  ]
                }
              },
              "x-fb-request-id": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "A3JwLvL_TNitEV6B9e0RloV"
                  ]
                }
              },
              "x-fb-trace-id": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "DdaerLa+9CB"
                  ]
                }
              },
              "x-fb-rev": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "1007251231"
                  ]
                }
              },
              "X-FB-Debug": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "OMiFsmGF5A90+heFzqwF4JZ9/+d7uakMs29gu7fKBCEB31ThsTmzfX8ft/X3dBTHZNk8kYjTep2hwfep+aZ2Xw=="
                  ]
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "Wed, 05 Apr 2023 18:46:29 GMT"
                  ]
                }
              },
              "Alt-Svc": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "h3=\":443\"; ma=86400"
                  ]
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "keep-alive"
                  ]
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "590"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "default": {
                    "data": [
                      {
                        "name": "hello_world",
                        "previous_category": "ACCOUNT_UPDATE",
                        "components": [
                          {
                            "type": "HEADER",
                            "format": "TEXT",
                            "text": "Hello World"
                          },
                          {
                            "type": "BODY",
                            "text": "Welcome and congratulations!! This message demonstrates your ability to send a message notification from WhatsApp Business Platform’s Cloud API. Thank you for taking the time to test with us."
                          },
                          {
                            "type": "FOOTER",
                            "text": "WhatsApp Business API Team"
                          }
                        ],
                        "language": "en_US",
                        "status": "APPROVED",
                        "category": "MARKETING",
                        "id": "1192339204654487"
                      },
                      {
                        "name": "2023_april_promo",
                        "components": [
                          {
                            "type": "HEADER",
                            "format": "TEXT",
                            "text": "Fall Sale"
                          },
                          {
                            "type": "BODY",
                            "text": "Hi {{1}}, our Fall Sale is on! Use promo code {{2}} Get an extra 25% off every order above $350!",
                            "example": {
                              "body_text": [
                                [
                                  "Mark",
                                  "FALL25"
                                ]
                              ]
                            }
                          },
                          {
                            "type": "FOOTER",
                            "text": "Not interested in any of our sales? Tap Stop Promotions"
                          },
                          {
                            "type": "BUTTONS",
                            "buttons": [
                              {
                                "type": "QUICK_REPLY",
                                "text": "Stop promotions"
                              }
                            ]
                          }
                        ],
                        "language": "en_US",
                        "status": "APPROVED",
                        "category": "MARKETING",
                        "id": "920070352646140"
                      }
                    ],
                    "paging": {
                      "cursors": {
                        "before": "MAZDZD",
                        "after": "MjQZD"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "WABA-ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "tags": [
          "Flows > Send Flow"
        ],
        "summary": "Create Flow Template Message by ID",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "default": {
                    "id": "template-1",
                    "status": "PENDING",
                    "category": "MARKETING"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "name": "<TEMPLATE_NAME>",
                  "language": "en_US",
                  "category": "MARKETING",
                  "components": [
                    {
                      "type": "body",
                      "text": "Check out this new offer"
                    },
                    {
                      "type": "BUTTONS",
                      "buttons": [
                        {
                          "type": "FLOW",
                          "text": "Check out this offer!",
                          "flow_id": "{{Flow-ID}}",
                          "navigate_screen": "<SCREEN_ID>",
                          "flow_action": "navigate"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Templates"
        ],
        "summary": "Delete template by ID",
        "description": "- Guide: [Message Templates](https://developers.facebook.com/docs/whatsapp/business-management-api/message-templates)\n- Guide: [How To Monitor Quality Signals](https://developers.facebook.com/docs/whatsapp/guides/how-to-monitor-quality-signals)\n- Endpoint reference: [WhatsApp Business Account > Message Templates](https://developers.facebook.com/docs/graph-api/reference/whats-app-business-account/message_templates/)",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "application/json; charset=UTF-8"
                  ]
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "Origin"
                  ]
                }
              },
              "x-business-use-case-usage": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "{\"102290129340398\":[{\"type\":\"whatsapp_business_management\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}"
                  ]
                }
              },
              "x-fb-rlafr": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "0"
                  ]
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "*"
                  ]
                }
              },
              "facebook-api-version": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "v16.0"
                  ]
                }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "max-age=15552000; preload"
                  ]
                }
              },
              "Pragma": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "no-cache"
                  ]
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "private, no-cache, no-store, must-revalidate"
                  ]
                }
              },
              "Expires": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "Sat, 01 Jan 2000 00:00:00 GMT"
                  ]
                }
              },
              "x-fb-request-id": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "AdYqACouwJuFZWuJ6z-Zb-6"
                  ]
                }
              },
              "x-fb-trace-id": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "ADp6tYI5dOX"
                  ]
                }
              },
              "x-fb-rev": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "1007383760"
                  ]
                }
              },
              "X-FB-Debug": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "bZ8hhZfdE97MVE74znlGSPtmnavHwev8Zkxa0dKIYEozk4+GVC1MXXCGbrfC25WV0ku5G1VmB3u7M9uq9ye/2w=="
                  ]
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "Wed, 26 Apr 2023 22:10:27 GMT"
                  ]
                }
              },
              "Alt-Svc": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "h3=\":443\"; ma=86400"
                  ]
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "keep-alive"
                  ]
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "16"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "default": {
                    "success": true
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "hsm_id",
            "in": "query",
            "description": "Template ID",
            "example": "<HSM_ID>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Template name",
            "example": "<NAME>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "WABA-ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/{Version}/{WABA-ID}/flows": {
      "post": {
        "tags": [
          "Flows > Create Flow"
        ],
        "summary": "Create Flow",
        "description": "Creates a new flow. To clone an existing flow you can add the parameter\n\n`\"clone_flow_id\": \"original-flow-id\"`",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "default": {
                    "id": "flow-1"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "WABA-ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "<FLOW_NAME>"
                  },
                  "categories": {
                    "type": "string",
                    "description": "A list of Flow categories. Multiple values are possible, but at least one is required. Choose the values which represent your business use case. \n\nPossible values: \"SIGN_UP\", \"SIGN_IN\", \"APPOINTMENT_BOOKING\", \"LEAD_GENERATION\", \"CONTACT_US\", \"CUSTOMER_SUPPORT\", \"SURVEY\", \"OTHER\"",
                    "example": "[\"OTHER\"]"
                  },
                  "clone_flow_id": {
                    "type": "string",
                    "description": "Creates a copy of the existing flow specified",
                    "example": "<EXISTING_FLOW_ID>"
                  },
                  "endpoint_uri": {
                    "type": "string",
                    "description": "Endpoint URI for the Flow",
                    "example": "https://example.com"
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Flows > Create Flow"
        ],
        "summary": "List Flows",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "default": {
                    "data": [
                      {
                        "name": "my first flow",
                        "status": "DRAFT",
                        "categories": [
                          "SIGN_UP"
                        ],
                        "validation_errors": [],
                        "id": "flow-1"
                      },
                      {
                        "name": "my second flow",
                        "status": "DRAFT",
                        "categories": [
                          "SIGN_UP",
                          "SIGN_IN"
                        ],
                        "validation_errors": [
                          {
                            "error": "INVALID_PROPERTY",
                            "error_type": "JSON_SCHEMA_ERROR",
                            "message": "The property \"initial-text\" cannot be specified at \"$root/screens/0/layout/children/2/children/0\".",
                            "line_start": 46,
                            "line_end": 46,
                            "column_start": 17,
                            "column_end": 30
                          }
                        ],
                        "id": "flow-2"
                      },
                      {
                        "name": "another flow",
                        "status": "PUBLISHED",
                        "categories": [
                          "CONTACT_US"
                        ],
                        "validation_errors": [],
                        "id": "flow-3"
                      }
                    ],
                    "paging": {
                      "cursors": {
                        "before": "QVFIUnpKT...",
                        "after": "QVFIUnZAWV..."
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{Version}/{WABA-ID}/migrate_flows": {
      "post": {
        "tags": [
          "Flows > Create Flow"
        ],
        "summary": "Migrate Flows",
        "description": "Creates a copy of existing flows from source WABA to destination WABA with the same names.",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "default": {
                    "migrated_flows": [
                      {
                        "source_id": "source-flow-1",
                        "source_name": "appointment",
                        "migrated_id": "dest-flow-1"
                      }
                    ],
                    "failed_flows": [
                      {
                        "source_name": "leadgen",
                        "error_code": "4233041",
                        "error_message": "Flows Migration Error: Flow name not found in source WABA."
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "WABA-ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "source_waba_id": {
                    "type": "string",
                    "description": "The ID of the source WABA from which the flows will be copied",
                    "example": "<SOURCE_WABA_ID>"
                  },
                  "source_flow_names": {
                    "type": "string",
                    "description": "[Optional] The names of the flows that will be copied from the source WABA. If not specified, all flows in the source WABA will be copied",
                    "example": "[\"appointment\", \"leadgen\"]"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{Version}/{Flow-ID}": {
      "get": {
        "tags": [
          "Flows > Get Endpoint Metrics"
        ],
        "summary": "Get Endpoint Availability Metric",
        "description": "Can request specific fields by enabling the \\`fields\\` query param",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "default": {
                    "id": "flow-1",
                    "metric": {
                      "granularity": "DAY",
                      "name": "ENDPOINT_AVAILABILITY",
                      "data_points": [
                        {
                          "timestamp": "2024-01-28T08:00:00+0000",
                          "data": [
                            {
                              "key": "succeeded",
                              "value": 713
                            },
                            {
                              "key": "failed",
                              "value": 335
                            }
                          ]
                        },
                        {
                          "timestamp": "2024-01-29T08:00:00+0000",
                          "data": [
                            {
                              "key": "succeeded",
                              "value": 623
                            },
                            {
                              "key": "failed",
                              "value": 2
                            }
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "example": "metric.name(ENDPOINT_AVAILABILITY).granularity(DAY).since(2024-01-28).until(2024-01-30)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Flow-ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "tags": [
          "Flows > Update Flow"
        ],
        "summary": "Update Flow Metadata",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "default": {
                    "success": true
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "<NEW_FLOW_NAME>"
                  },
                  "categories": {
                    "type": "string",
                    "description": "A list of Flow categories. Multiple values are possible, but at least one is required. Choose the values which represent your business use case. \n\nAllowed values: \"SIGN_UP\", \"SIGN_IN\", \"APPOINTMENT_BOOKING\", \"LEAD_GENERATION\", \"CONTACT_US\", \"CUSTOMER_SUPPORT\", \"SURVEY\", \"OTHER\"",
                    "example": "[\"OTHER\"]"
                  },
                  "endpoint_uri": {
                    "type": "string",
                    "description": "Endpoint URI for the Flow",
                    "example": "https://example.com"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Flows > Update Flow"
        ],
        "summary": "Delete Flow",
        "description": "Deletes the flow entirely. This action is not reversible. Only a DRAFT flow can be deleted.",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "default": {
                    "success": true
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Flow-ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/{Version}/{Flow-ID}/assets": {
      "post": {
        "tags": [
          "Flows > Update Flow"
        ],
        "summary": "Update Flow JSON",
        "description": "Used to upload a flow JSON file with the flow content. Refer to flow JSON documentation here [https://developers.facebook.com/docs/whatsapp/flows/reference/flowjson](https://developers.facebook.com/docs/whatsapp/flows/reference/flowjson)\n\nThe file must be attached as from data. The response will include any validation errors in the JSON file",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "default": {
                    "success": true,
                    "validation_errors": [
                      {
                        "error": "INVALID_PROPERTY",
                        "error_type": "JSON_SCHEMA_ERROR",
                        "message": "The property \"initial-text\" cannot be specified at \"$root/screens/0/layout/children/2/children/0\".",
                        "line_start": 46,
                        "line_end": 46,
                        "column_start": 17,
                        "column_end": 30
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Flow-ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "name": {
                    "type": "string",
                    "example": "flow.json"
                  },
                  "asset_type": {
                    "type": "string",
                    "example": "FLOW_JSON"
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Flows > Update Flow"
        ],
        "summary": "List Assets (Get Flow JSON URL)",
        "description": "Returns all assets attached to the flow. Currently only FLOW_JSON asset is supported",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "default": {
                    "data": [
                      {
                        "name": "flow.json",
                        "asset_type": "FLOW_JSON",
                        "download_url": "https://scontent.xx.fbcdn.net/m1/v/t0.57323-24/An_Hq0jnfJ..."
                      }
                    ],
                    "paging": {
                      "cursors": {
                        "before": "QVFIU...",
                        "after": "QVFIU..."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Flow-ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/{Version}/{Flow-ID}/publish": {
      "post": {
        "tags": [
          "Flows > Update Flow"
        ],
        "summary": "Publish Flow",
        "description": "Updates the status of the flow as \"PUBLISHED\". This action is not reversible. The flow and its assets become immutable once published. To update the flow, you must create a new flow and specify the previous flow id as the \\`clone_flow_id\\` parameter",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "default": {
                    "success": true
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Flow-ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/{Version}/{Flow-ID}/deprecate": {
      "post": {
        "tags": [
          "Flows > Update Flow"
        ],
        "summary": "Deprecate Flow",
        "description": "Updates the status of the flow as \"DEPRECATED\". This action is not reversible. Only a published flow can be deprecated to prevent sending or opening it.",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "default": {
                    "success": true
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Flow-ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/{Version}/{Phone-Number-ID}/whatsapp_business_encryption": {
      "post": {
        "tags": [
          "Flows > Setup Endpoint Encryption"
        ],
        "summary": "Set Encryption Public Key",
        "description": "Sets the public key that is used for encrypting the data channel requests",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "default": {
                    "success": true
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Phone-Number-ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "business_public_key": {
                    "type": "string",
                    "example": "-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKC\n...\n8QIDAQAB\n-----END PUBLIC KEY-----"
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Flows > Setup Endpoint Encryption"
        ],
        "summary": "Get Encryption Public Key",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "default": {
                    "data": [
                      {
                        "business_public_key": "-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqh...AQAB\n-----END PUBLIC KEY-----",
                        "business_public_key_signature_status": "VALID"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{Version}/{Phone-Number-ID}/media": {
      "post": {
        "tags": [
          "Media"
        ],
        "summary": "Upload Audio",
        "description": "This request uploads an audio as .ogg. The parameters are specified as **form-data** in the request **body**.",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "application/json"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "default": {
                    "id": "4490709327384033"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
[...]
